mixin menu
    menu.menu
        ul.menu__list
            li.menu__item 
                a.menu__link SEARCH TICKETS
            li.menu__item 
                a.menu__link SAPSAN
            li.menu__item 
                a.menu__link ALLEGRO
            li.menu__item.menu__item--drop 
                a.menu__link TRANS-SIBERIAN
                ul.menu__sublist
                    li.menu__subitem.menu__subitem--imp Group travel
                    li.menu__subitem.menu__subitem--imp Ticket types
                    li.menu__subitem.menu__subitem--imp Child policy
                    li.menu__subitem.menu__subitem--imp Change ticket request
                    li.menu__subitem Cancel tickets                   
            li.menu__item.menu__item--drop 
                a.menu__link FAQ
                ul.menu__sublist
                    li.menu__subitem Group travel
                    li.menu__subitem Ticket types
                    li.menu__subitem.menu__subitem--imp Child policy
                    li.menu__subitem.menu__subitem--imp Change ticket request
                    li.menu__subitem.menu__subitem--imp Cancel tickets             
            li.menu__item.menu__item--drop 
                a.menu__link TICKETS GUIDE
                ul.menu__sublist
                    li.menu__subitem Group travel
                    li.menu__subitem Ticket types
                    li.menu__subitem Child policy
                    li.menu__subitem.menu__subitem--imp Change ticket request
                    li.menu__subitem Cancel tickets                  
            li.menu__item 
                a.menu__link CONTACT US
        .menu__login
            a Sign in