mixin menu
    menu.menu
        ul.menu__list
            li.menu__item SEARCH TICKETS                  
            li.menu__item SAPSAN     
            li.menu__item ALLEGRO     
            li.menu__item TRANS-SIBERIAN         
            li.menu__item FAQ         
            li.menu__item TICKETS GUIDE         
            li.menu__item CONTACT US
        .menu__login
            a Sign in