mixin search
    .search
        h1.search__header Russian Train Tickets
        form.form.search__form
            .form__container        
                .form__row
                    .form__block 
                        span.form__block-title Departure city:
                        input.form__block-input(type='text' name='departure' placeholder='Type city name' required)
                        .form__block-footer
                            | Ex: 
                            a St. Petersburg
                            | , 
                            a Moscow
                    .form__swap                   
                    .form__block 
                        span.form__block-title Arrival city:
                        input.form__block-input(type='text' name='arrival' placeholder='Type city name' required)     
                        .form__block-footer
                            | Ex: 
                            a St. Petersburg
                            | , 
                            a Moscow 
                .form__row
                    .form__block
                        span.form__block-title Departure date:                    
                        input.form__date#date-departure(type='date')
                        .form__input-date                        
                            input.form__block-input.form__block-input--date(type='text' id="datetimepicker1" name='date-departure' placeholder='dd.mm.yyyy')
                            .form__calendar#button-datetimepicker1                             
                    .form__block
                        .roundtrip
                            label.roundtrip__custom-checkbox
                                input(class="roundtrip__custom-checkbox-real" type="checkbox" name="Roundtrip")
                                span.roundtrip__checkbox-custom
                                span.roundtrip__block-title Roundtrip 
                    .form__block
                        span.form__block-title Return date:                    
                        input.form__date#date-return(type='date')
                        .form__input-date
                            input.form__block-input.form__block-input--date(type='text' id="datetimepicker2" name='date-return' placeholder='dd.mm.yyyy') 
                            .form__calendar#button-datetimepicker2                                                                 
                    .form__block
                        span.form__block-title.form__block-title--select Currency                        
                        .form__select.custom-select                
                            select#custom-select
                                option(value="0") USD
                                option(value="1") RUB
                                option(value="2") GBR
                                option(value="3") EUR
                                option(value="4") CHF
                    .form__block
                        a.form__button 
                            .form__button-inner Search
                    
                                                