.form__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.7rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.form__block {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .form__block-input {
    margin: 0.4rem 0;
    border: 1px solid $color_white;
    border-radius: 5px;
    padding: 1rem;

    &::placeholder {
      color: $color_gray;
    }
  }
  .form__block-footer {
    color: $color_blue_hide;

    a {
      text-decoration: none;
      border-bottom: 1px dashed $color_blue_hide;
      &:hover {
        color: $color_white;
        border-bottom: none;
      }
    }
  }
}
.form__swap {
  flex: none;
  margin: 0 1rem;
  width: rem(30px);
  height: rem(16px);
  fill: $color_blue_hide;
  &:hover {
    cursor: pointer;
    fill: $color_white;
  }
}

.form__date {
  position: relative;
  padding: 1.6rem;
  margin: 0.4rem 0;
  border-radius: 5px;
  border: 1px solid #fff;

  &::-webkit-datetime-edit,
  &::-webkit-inner-spin-button,
  &::-webkit-clear-button {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
  }
}

.form__button {
  padding: 1rem 3.6rem;
  box-shadow: inset 0 2px 0 #fcc272;
  border-radius: 3px;
  border: 1px solid #de5300;
  background-image: linear-gradient(to top, #f75e02 0%, #fbb04c 100%);
}
.form__button-inner {
  padding-left: rem(30px);
  position: relative;
  color: #ffffff;
  font-size: rem(16px);
  font-weight: 400;
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: rem(20px);
    height: rem(20px);
    background-image: inline_svg('search', $color_white);
  }
}
