$border_gray: 1px solid #d7d7d7;

.menu {
  @include flex-prop;
  background-color: $color_light_blue;
  padding: 0 rem(86px);

  @include small {
    padding: 0 1rem;
  }

  @include tablets {
    padding: 0.95rem;
  }

  .menu__list {
    display: flex;

    @include tablets {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      // bottom: 0;
      z-index: 100;
      background-color: #54add8;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: 1;
      transition: top 0.7s ease-in-out;
      &.active {
        top: 0;
      }
    }
  }

  .menu__item {
    position: relative;
    padding: 0.95rem 0.7rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $color_orange;
    }

    &--drop {
      padding-right: 1.9rem;

      &:after {
        content: ' ';
        position: absolute;
        border: 5px solid transparent;
        border-top: 5px solid $color_white;
        top: 45%;
        right: 1%;
        transform: translateX(-100%);
      }

      &:hover {
        .menu__sublist {
          left: 0;
        }
      }
    }
  }

  .menu__link {
    display: inline-block;
  }

  .menu__sublist {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -9999%;
    z-index: 200;
    border: $border_gray;
    border-top: none;
    border-radius: 0 0 6px 6px;
  }

  .menu__subitem {
    color: #000;
    white-space: nowrap;
    padding: 0.535rem 1rem;
    background-color: $color_white;
    text-transform: none;
    font-size: rem(14px);
    font-weight: 400;
    text-align: left;

    &--imp {
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: $border_gray;
      }
      &:after {
        @extend .menu__subitem--imp:before;
        top: 100%;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $color_gray_hover;
    }
  }

  .menu__login {
    position: relative;
    display: inline-block;
    padding-left: 1.5rem;
    color: $color_light_blue_hide;
    font-weight: 400;
    text-decoration: underline;

    &:hover {
      color: $color_white;

      &:before {
        background-image: inline_svg('sign_in', $color_white);
      }
    }

    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 18px;
      background-image: inline_svg('sign_in', $color_blue_hide);
    }
  }
}
